---
layout: default
title: Report Bus Issues

sys_id: 3f1dd0320a0a0b99000a53f7604a2ef9

staticvalues:
  - name: what-area-does-this-pertain-to
    value: Parking and Transportation Services
  - name: _subject
    value: Route {route} problem reported via CampusPulse

submit_method: assisted-condense
condense_except: what-area-does-this-pertain-to,subject
---

<h1>{{page.title}}</h1>
{% include form_start.html method=page.submit_method %}
	<label for="route">What route is affected?</label>
	<select id="route" name="route" required>
		<option value="" disabled selected>Select a route</option>
	</select>

	<label for="stop">Which stop is affected?</label>
	<select id="stop" name="stop" required>
		<option value="" disabled selected>Select a route</option>
	</select>

	<label for="time">When did this happen?</label>
	<div class="sidebyside">
		<input type="datetime-local" id="time" name="time" required>
		<button type="button" step="any" required onclick="document.getElementById('time').value = new Date().toLocaleString([], { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', hour12: false}).replace(',', '').replace(/(\d+)\/(\d+)\/(\d+)/, '$3-$1-$2').replace(' ', 'T')">Now</button>
	</div>



	<label for="description">Description of the Problem</label>
	<textarea id="description" name="description" placeholder="Describe the issue. i.e. My bus was more than 5-10 minutes late" rows="5"></textarea>
	<!-- hidden form items -->
	{% for item in page.staticvalues %}
		<input type="hidden" name="{{ item.name }}" value="{{ item.value }}">
	{% endfor %}
	<!-- TODO: submit building name too -->
	{% include form_end.html method=page.submit_method %}


<script>
	// Load buildings from JSON
	fetch('/busroutes.json')
		.then(response => response.json())
		.then(data => {
			const routeSelect = document.getElementById('route');
			data.routes.forEach(route => {
				const option = document.createElement('option');
				option.value = `${route.id} ${route.name}`;
				option.textContent = `${route.id} ${route.name}`;
				routeSelect.appendChild(option);
			});
		});

	fetch('/busstops.json')
		.then(response => response.json())
		.then(data => {
			const stopSelect = document.getElementById('stop');
			data.stops.forEach(stop => {
				const option = document.createElement('option');
				option.value = `${stop.id} ${stop.name}`;
				option.textContent = `${stop.id} ${stop.name}`;
				stopSelect.appendChild(option);
			});
		});
</script>