---
layout: default
title: Report Bus Issues

sys_id: 3f1dd0320a0a0b99000a53f7604a2ef9

staticvalues:
  - name: what-area-does-this-pertain-to
    value: Parking and Transportation Services
  - name: _subject
    value: Route {route} problem reported via CampusPulse

submit_method: assisted-condense
condense_except: what-area-does-this-pertain-to,subject
---

<h1>{{page.title}}</h1>
{% include form_start.html method=page.submit_method %}
	<label for="route">What route is affected?</label>
	<select id="route" name="route" required onchange="updateStopList(this[this.selectedIndex].id)">
		<option value="" id="route_default" disabled selected>Select a route</option>
	</select>

	<label for="stop">Which stop is affected?</label>
	<select id="stop" name="stop" required>
		<option value="" id="stop_default" disabled selected>Select a stop</option>
	</select>

	<label for="time">When did this happen?</label>
	<div class="sidebyside">
		<input type="datetime-local" id="time" name="time" required>
		<button type="button" step="any" required onclick="document.getElementById('time').value = new Date().toLocaleString([], { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', hour12: false}).replace(',', '').replace(/(\d+)\/(\d+)\/(\d+)/, '$3-$1-$2').replace(' ', 'T')">Now</button>
	</div>



	<label for="description">Description of the Problem</label>
	<textarea id="description" name="description" placeholder="Describe the issue. i.e. My bus was more than 5-10 minutes late" rows="5"></textarea>
	<!-- hidden form items -->
	{% for item in page.staticvalues %}
		<input type="hidden" name="{{ item.name }}" value="{{ item.value }}">
	{% endfor %}
	<!-- TODO: submit building name too -->
	{% include form_end.html method=page.submit_method %}


<script>
	const stopSelectElement = document.getElementById("stop")

	fetch('/busroutes.json')
		.then(response => response.json())
		.then(data => {
			const routeSelect = document.getElementById('route');
			data.routes.forEach(route => {
				const option = document.createElement('option');
				option.id = `route-${route.id}`;
				option.value = `${route.id} ${route.name}`;
				option.textContent = `${route.id} ${route.name}`;
				routeSelect.appendChild(option);
			});
		});

	const busstops = fetch('/busstops.json')
		.then(response => response.json())

	const stop_route_map = fetch('/busroutesbystop.json')
		.then(response => response.json())


	function reverseObjectOfLists(obj) {
		// this function made by chatGPT
		const reversed = {};
		for (const [key, values] of Object.entries(obj)) {
			for (const value of values) {
				if (!reversed[value]) {
					reversed[value] = [];
				}
				reversed[value].push(Number(key));
			}
		}
		return reversed;
	}


	function clearBusStops(except = ['stop_default']) {
		for (const child of Array.from(stopSelectElement.childNodes)) {
			if (!except.includes(child.id)){
				stopSelectElement.removeChild(child);
			}
		}
	}

	function createStopOption(stop) {
		const option = document.createElement('option');
		option.id = `stop-${stop.id}`;
		option.value = `${stop.id} ${stop.name}`;
		option.textContent = `${stop.id} ${stop.name}`;
		return option;
	}


	function updateStopList(route) {
	
		if (route) {
			updateStopList()
			const routeID = route.split("-")[1];

			stop_route_map.then(srm => reverseObjectOfLists(srm))
				.then(stopsByRoute => stopsByRoute[routeID].map((id) => `stop-${id}`))
				.then((except) => {
					except.push('stop_default');
					console.log(except);
					clearBusStops(except);
				});

		} else {
			clearBusStops()
			busstops.then(data => {
				const stopSelect = document.getElementById('stop');
				data.stops.forEach(stop => {
					stopSelect.appendChild(createStopOption(stop));
				});
			});
		}
	}

	updateStopList();
</script>