
{%- comment -%} this file contains the logic for sending the form data different places based on the mode {%- endcomment -%}

{% assign submitButtonTitle = "Continue" %}
{% assign assisted = "false" %}

{%- comment -%} the primary destination of the form is handled in the form_start template. this value helps configure the form for secondary pages (i.e. redirect URLs on success, or showing a serviceNow link on the summary page) {%- endcomment -%}
{% assign stage2_target = "" %}

{% case include.destination.method %}
	{% when "assisted","assisted-condense" %}
		{%- comment -%} TODO: add more here for the automated and direct submission modes {%- endcomment -%}
		{% assign assisted = "true" %}
		{% assign stage2_target = include.destination.sys_id %}

	{% when "submit" %}
		{% assign submitButtonTitle = "Submit" %}
		{% assign stage2_target = include.destination.redirect_url %}

	{% else %}
		
{% endcase %}

{% if stage2_target != "" and assisted == "true"  %}
<input type="hidden" name="_sys_id" value="{{ stage2_target }}">
{% endif %}


{% if include.destination.method == "assisted-condense" and include.destination.condense_except != "" %}
	<input type="hidden" name="_condense_except" value="{{ include.destination.condense_except }}">
{% endif %}
	<button type="submit">{{ submitButtonTitle }}</button>
	{% include form_issues.html %}
</form>