{%- comment -%} this file contains the logic for sending the form data different places based on the mode {%- endcomment -%}

{%- comment -%} default value {%- endcomment -%}



{% case include.destination.method %}
  {% when "assisted", "assisted-condense" %}
	{% assign action = "/summary.html" %}
	{% assign method = "get" %}
  {% when "submit" %}
	{% assign action = include.destination.location %}
	{% assign method = "post" %}
  {% else %}
	{% assign action = "/summary.html" %}
	{% assign method = "get" %}
{% endcase %}



<form action="{{ action }}" method="{{ method }}">