
{%- comment -%} this file contains the logic for sending the form data different places based on the mode {%- endcomment -%}

{% assign submitButtonTitle = "Continue" %}


{% case include.method %}
	{% when "assisted","assisted-condense" %}
		{%- comment -%} TODO: add more here for the automated and direct submission modes {%- endcomment -%}
		{% assign assisted = "true" %}
	{% else %}
		{% assign assisted = "false" %}
{% endcase %}

{% if page.sys_id != "" and assisted == "true"  %}
<input type="hidden" name="_sys_id" value="{{ page.sys_id }}">
{% endif %}

{% if include.method == "assisted-condense" %}
	<input type="hidden" name="_condense_except" value="{{ page.condense_except }}">
{% endif %}
	<button type="submit">{{ submitButtonTitle }}</button>
	{% include form_issues.html %}
</form>